.w-fit {
    width: fit-content;
}

.border-top-dotted {
    border-top: 2px dotted #000;
}

.border-bottom-dotted {
    border-bottom: 2px dotted #000;
}

input:focus {
    border: none !important;
    box-shadow: 2px 2px 5px var(--dark-green) !important;
}

select:focus {
    border: none !important;
    box-shadow: 2px 2px 5px var(--dark-green) !important;
}

.btn-search {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--dark-green);
    --bs-btn-border-color: var(--dark-green);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--dark-green);
    --bs-btn-hover-border-color: var(--dark-green);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--dark-green);
    --bs-btn-active-border-color: var(--dark-green);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--dark-green);
    --bs-btn-disabled-border-color: var(--dark-green);
}